.paginate_button {
    padding: 15px;
    background: #d9e6e6;
    cursor: pointer;
}

.dataTables_paginate {

    float: right;

}

.dataTables_filter {
    display: inline;
    float: right;
}

.dataTables_length {
    display: inline;
}
